<log4net>

  <root>
    <!-- add other appenders here and the log messages will be sent to every listed appender -->
    <appender-ref ref="LogFileAppender" />
    <level value="Warn"/>
  </root>

  <!-- The DebugFileAppender writes all messages to a log file-->
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\\Custom Songs Manager\\csm.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="2" />
    <maximumFileSize value="3MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c %m%n" />
    </layout>
  </appender>

</log4net>